<!DOCTYPE html>
<head>
  <meta lang="es">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
  <title>Lista de Tareas</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="display-4 my-5">New Task:</h4>
        <form action='/create_task' method='get'>
          <div class="form-group text-center">
            <input type="text" name="task">
            <input type="submit" value="New Task">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 </body>
</html>