<!DOCTYPE html>
<head>
  <meta lang="es">
  <meta charset="UTF-8">

  <title>Lista de Tareas</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="jumbotron jumbotron-fluid container">
        <div class="container">
          <h1 class="display-4 text-center mb-5">TO DO LIST</h1>
          <form action="/createtask" method="post">
            <div class="form-group text-center">
              <input type="text" name="tasks" placeholder="Task" class="form-control">
              <button type="submit" class="btn btn-dark my-2">Add Task</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ul>
      <% @tasks.each do |task|  %>
        <li <%= task["done"] == true ? 'class="done"' : 'class=""' %>>
          <h4><%= task["title"].upcase %></h4>

          <form action="/updatetask/<%= task["id"] %>" method="post">
            <input type="hidden" name="_method" value="patch">
            <button type="submit" title="Mark as Done" class="btn btn-dark fas fa-check-circle my-2 mx-1"></button>
          </form>
        
          <form action="/deletetask/<%= task["id"] %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" title="Delete Task" class="btn btn-dark fas fa-minus-circle my-2 mx-1"></button>
          </form>

        </li>
      <% end %>
    </ul>
  </div>
  <script src="/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 </body>
</html>