<!DOCTYPE html>
<head>
  <meta lang="es">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
  <title>Lista de Tareas</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="jumbotron jumbotron-fluid container">
        <div class="container">
          <h1 class="display-4 text-center">TO DO LIST</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="btn btn-primary my-2" href='/create_task'>Create Task</a>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <h4>To Do</h4>
          <ul><%= Tarea.all %></ul>
        </div>
        <div class="col">
          <h4>Done</h4>
        </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 </body>
</html>